//output:index.html
doctype html
html
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      )
    title Matthew Robertson
    link(
      type="text/css"
      rel="stylesheet"
      href="css/mat.css"
      )
    link(
      type="text/css"
      rel="stylesheet"
      href="css/style.css"
      )
    link(
      href="http://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      )
  body
    //-
      navbar
    div.navbar-fixed
      nav
        div.nav-wrapper
          a(href="#" class="brand-logo") Matthew Robertson
          a(href="#" data-activates="mobile-demo" class="button-collapse")
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href="") About
            li
              a(href="") Skills
            li
              a(href="") My Work
            li
              a(href="") Contact
          ul(class="side-nav" id="mobile-demo")
            li
              a(href="") About
            li
              a(href="") Skills
            li
              a(href="") My Work
            li
              a(href="") Contact
      //-
        hero image
    div.s12.col.center-align.my-logo
      img(src="img/logo.gif").responsive-img
      
    div.container
      div#about
      div#Skills.row
        div.col.s6
          table
            tbody
              tr
                td 
                  h5 HTML
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 CSS
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 JavaSript
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 Jade
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 Sass
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 jQuery
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 Node.js
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 BootStrap
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
        div.col.s6
          table
            tbody
              tr
                td 
                  h5 Git
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 GitHub
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 React
                td
                  i.small.material-icons stars
              tr
                td 
                  h5 Material Design
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 Responsive Design
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
                  i.small.material-icons stars
              tr
                td 
                  h5 Photoshop
                td
                  i.small.material-icons stars
                  i.small.material-icons stars
              
        //-
          examples of work
      div#my-work.row
        div.col.s12.m6
          div.card
            div.card-image
              img(
                src="img/tic-tac-toe.png"
                )
              span.card-title Tic Tac Toe
            div.card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
            div.card-action
              a(href="#").blue-text.text-darken-4 View the code
              
        div.col.s12.m6
          div.card
            div.card-image
              img(
                src="img/connect-four.png"
                )
              span.card-title Tic Tac Toe
            div.card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
            div.card-action
              a(href="#") View the code
              
        div.col.s12.m6
          div.card
            div.card-image
              img(
                src="img/simon.png"
                )
              span.card-title Tic Tac Toe
            div.card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
            div.card-action
              a(href="#") View the code
        
        div.col.s12.m6
          div.card
            div.card-image
              img(
                src="img/calculator.png"
                )
              span.card-title Tic Tac Toe
            div.card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
            div.card-action
              a(href="#") View the code
        
        div.col.s12.m6
          div.card
            div.card-image
              img(
                src="img/wiki-viewer.png"
                )
              span.card-title Tic Tac Toe
            div.card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
            div.card-action
              a(href="#") View the code
        
        div.col.s12.m6
          div.card
            div.card-image
              img(
                src="img/quote-generator.png"
                )
              span.card-title Tic Tac Toe
            div.card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
            div.card-action
              a(href="#") View the code
            
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="js/materialize.min.js")
    script(src="js/index.js")
